<div class = "ui one column stackable center aligned page grid">
	<div class = "column twelve wide">
		<div class = "ui instagram button">
			<i class = "instagram icon"></i>
			<a href = "/auth/instagram" style = "color: white;">Login with Instagram</a>
		</div>
	</div>
</div>